<!--&lt;!&ndash;интерполяция&ndash;&gt;-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-12"><h1>{{title}}</h1>-->
<!--    <h1>10+ 20 = {{10+20}}</h1>-->
<!--    <h1>Число: {{myNumber}}</h1>-->
<!--      <h1>{{hello()}}</h1>-->
<!--      <h1>Флаг {{flag===true ? 'включен':'выключен'}}</h1>-->
<!--      <h1>{{title.toUpperCase()}}</h1>-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->
<!--<hr/>-->
<!--&lt;!&ndash;Привязка свойств&ndash;&gt;-->
<!--<div class="container"><div class="row">-->
<!--  <div class="col-12">-->
<!--    <button class="btn.btn-primary" [disabled]="!buttonEnabled">Кнопка</button>-->
<!--  </div>-->

<!--</div>-->

<!--</div>-->
<!--<hr/>-->
<!--&lt;!&ndash;Привязка событий&ndash;&gt;-->

<!--<div class="container"><div class="row">-->
<!--  <div class="col-12">-->
<!--    <div class="myblock" (mousemove)="getCoords($event)"> </div>-->
<!--    <p>X: {{blockX}} Y:{{blockY}}</p>-->
<!--  </div>-->

<!--</div>-->
<!--</div>-->
<!--<hr/>-->

<!--&lt;!&ndash;привязка в оба направления&ndash;&gt;-->
<!--<div class="container"><div class="row">-->
<!--  <div class="col-12">-->
<!--   <div class="form-group">-->
<!--     <input type="text" class="form-control"[(ngModel)]="inputValue"/>-->
<!--   </div>-->
<!--    <p>{{  inputValue }}</p>-->
<!--  </div>-->

<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;Локальная референция&ndash;&gt;-->
<!--&lt;!&ndash;viewchild&ndash;&gt;-->
<!--<div class="container"><div class="row">-->
<!--  <div class="col-12">-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" #someInput/>-->
<!--    </div>-->
<!--    <button class="btn.btn-primary" (click)="getData(someInput)">Кнопка</button>-->
<!--  </div>-->

<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;Условный оператор&ndash;&gt;-->
<!--<div class="container"><div class="row">-->
<!--  <div class="col-12">-->
<!--    <p *ngIf="flag===true">Флаг включен</p>-->
<!--      <p *ngIf="flag===false" >Флаг выключен</p>-->
<!--   <ng-container *ngIf="flag===true;else elseTemplate" >-->
<!--     <p>Флаг включен</p>-->
<!--   </ng-container>-->
<!--    <ng-template #elseTemplate>-->
<!--      <p>Флаг выключен</p>-->
<!--    </ng-template>-->
<!--  </div>-->

<!--</div>-->
<!--</div>-->
<!--<hr/>-->

<!--&lt;!&ndash;Циклы&ndash;&gt;-->
<!--<div class="container mb-3"><div class="row">-->
<!--  <div class="col-3" *ngFor="-->
<!--  let item of someArr;-->
<!--  let item_index = index;-->
<!--  let item_first=first;-->
<!--let item_last= last;">{{item_index+1}}: {{item}}-->

<!--  </div>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;Динамические стили и css классы&ndash;&gt;-->

<!--<div class="container mb-3"><div class="row">-->
<!--  <div class="col-12" >-->
<!--<p [style.font-size]="fontSize+'px'"> Какой-то текст</p>-->
<!--    <p [ngStyle]="{'font-size': fontSize + 'px'}" [ngClass]="{'color-green':buttonEnabled}">Еще какой-то текст</p>-->
<!--  </div>-->

<!--  </div>-->
<!--</div>-->

<div class="container "><div class="row">
    <div class="col-4">
      <h1>{{title}}</h1>
     <div class="form-group">
       <input type="text" id="inputt" class="form-control mb-3" [(ngModel)]="head" />
     </div>
      <textarea name="" id="" cols="50" rows="10" [(ngModel)]="main" ></textarea>
      <button class="btn.btn-primary mb-3 " id="buttonAdd" (click)="addNew()" *ngIf="head!==''||pages.length > 0"  >{{pages.length > 0?'Создать заметку':'Добавить заметку'}}</button>
<!--      <div *ngIf="buttonEnabled===true" class="newNote mb-3">Название:{{}}-->
<!--        <hr/></div>-->


      <div  class="myblock mb-4" *ngFor="let notes of pages; let i = index">
        <h4>Заметка {{ i}} {{ pages[i].header}}</h4>
        <hr/>
        <p>{{pages[i].text}}</p>
        <input type="button" value="Удалить" (click)="delete(i)" class="btn.btn-primary mb-3">
        <p>{{pages[i].date|date:'medium'}}</p>


      </div>
<!--      <app-tableworkers-->
<!--        [title]="'Рекламщики'"-->
<!--        [workers]="getByType(myWorkerType.copywriter)">-->

<!--      </app-tableworkers>-->
<!--      <app-tableworkers-->
<!--        [title]="'Дизайнеры'"-->
<!--        [workers]="getByType(myWorkerType.designer)">-->

<!--      </app-tableworkers>-->
<!--      <app-tableworkers-->
<!--        [title]="'Менеджеры'"-->
<!--        [workers]="getByType(myWorkerType.manager)">-->

<!--      </app-tableworkers>-->

  </div>
  </div>
</div>
